// Centralized font-face declarations

@font-face {
  font-family: "IBMPlexSerif-Italic";
  src: local("IBMPlexSerif-Italic"), url("../assets/IBMPlexSerif-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "JosefinSans-Light";
  src: local("JosefinSans-Light"), url("../assets/JosefinSans-Light.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Railway-Light";
  src: local("Railway-Light"), url("../assets/Raleway-ExtraLight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "IBMPlexSerif-Regular";
  src: local("IBMPlexSerif-Regular"), url("../assets/IBMPlexSerif-Regular.ttf") format("truetype");
  font-weight: 400;
}
