// Project SCSS mixins
// Keep small, reusable mixins here.

// Base font mixin — use to apply project default typography
@mixin baseFont {
  font-family: "IBMPlexSerif-Regular", Tahoma, sans-serif;
  font-style: normal;
  font-size: 1rem;
}

@mixin desktopContentPadding {
  padding: 0 18vw;
}

@mixin mobileContentPadding {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

@mixin lineBase {
  border-top: 1px solid rgba(255,255,255,0.65);
}
