@import "./mixins.module";

.aboutMeContainer {
    background-color: hsl(56 16% 43% / 1);
    color: #fff;
    min-height: 40vh;
    padding: 3rem 0 4rem;
    @include mobileContentPadding;
}

.aboutSection {
    padding: 1rem 0rem;
}

.aboutImg {
    background-image: url('../assets/profile.webp');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    min-width: 260px;
    width: 100%;
    height: 330px;
    justify-self: center;
    border-radius: 4px;
    clip-path: polygon(0 0,
            100% 0,
            100% 100%,
            var(--bevel-size, 40px) 100%,
            0 calc(100% - var(--bevel-size, 40px)));
}

.aboutContentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0 .25rem;
}


@media screen and (min-width: 1000px) {

    .aboutImg {
        background-size: cover;
    }

    .aboutContentContainer {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        padding: 3rem 0 2rem;
    }

    .aboutMeContainer {
        @include desktopContentPadding;
        padding-top: 4rem;
        padding-bottom: 3rem;
    }

    .aboutSection {
        padding: 0;
    }

    .aboutMeContentText {
        margin-right: 2rem;
    }
}