@font-face {
  font-family: "Railway-Regular";
  /*Can be any text*/
  src: local("AirbnbCerealLight"),
    url("../assets/Raleway-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Railway-Light";
  /*Can be any text*/
  src: local("AirbnbCerealLight"),
    url("../assets/Raleway-ExtraLight.ttf") format("truetype");
}

$hero-height: 92vh;

.App {
  width: 100%;
  position: relative;
}

.home-container {
  width: 100%;
}

.hero-shadow {
  box-shadow: 11px -59px 31px #333;
  width: 100%;
}

.hero-text {
  font-family: "Railway-Light";
  font-size: 14vw;
  position: absolute;
  z-index: 19;
  width: 100%;
  height: $hero-height;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media screen and (min-width: 1000px) {
  .hero-text {
    font-family: "Railway-Light";
    font-size: 6.2vw;
    position: absolute;
    z-index: 10;
    width: 100%;
    height: $hero-height;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    font-weight: 100;
  }
}

.hero-banner {
  height: 87vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  z-index: 10;
}

.explore-section {
  background-color: #fff0cf;
  width: 100%;
  height: 800px;
  position: relative;
  display: flex;
  justify-content: center;
}

.explore-card {
  width: 90vw;
  height: 400px;
  background: #bc954e;
  border-radius: 5px;
  margin-top: 5px;
  box-shadow: 0px 7px 16px -2px hsl(0deg 0% 0% / 47%);

  h2 {
    color: #fff;
    padding: 35px 30px 0;
    font-family: "Jose";
    letter-spacing: 0.05rem;
    font-size: 22px;
    font-weight: 400;
    text-align: center;
  }

  p {
    color: #fff;
    padding: 0px 30px 0;
    font-size: 16px;
  }
}

.more-content {
  height: 2000px;
}