@import "./fonts";
@import "./mixins";

.App {
  @include baseFont;
  width: 100%;
  position: relative;
}

.home-container {
  width: 100%;
}

.line-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .line {
    width: 30%;
    @include lineBase;
  }
  .line-heading {
    width: 30%;
    padding: 0 5%;
    text-align: center;
    font-family: "Railway-Light";
    color: #fff;
    font-size: 2rem;
    text-transform: uppercase;
  }
}
