@import "./mixins.module";

.contactSection {
  background-color: hsl(65 11% 33% / 1);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5rem 0 7rem;
  @include mobileContentPadding;
  border-bottom: 35px solid hsl(65 11% 27% / 1);
}

.contactDetails {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  text-align: left;
  width: 98%;
}

.contactLink {
  color: #fff;
  text-decoration: none;
  font-size: 1.1rem;

  &:hover {
    text-decoration: underline;
  }
}

.contactAddress {
  font-size: 1rem;
  margin: 0;
}

@media screen and (min-width: 1000px) {
  .contactSection {
    @include desktopContentPadding;
    padding-top: 4rem;
    padding-bottom: 6rem;
  }
  .contactDetails {
    text-align: center;
  }
}

