@import "./fonts.module";

$heroHeight: 92vh;



// TODO - temporary move to header component

.logoContainer {
  position: relative;
  z-index: 100;
  width: 32px;
  position: absolute;
  top: 2.75rem;
  left: 1.5rem;
}

.menuIcon {
  position: relative;
  z-index: 100;
  width: 28px;
  position: absolute;
  top: 3.1rem;
  right: 1.65rem;
}

.menuContainer {
  width: 380px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  font-family: "Lato-Regular";
  font-size: 14px;
  z-index: 100;
  position: absolute;
  top: 100px;
  right: 1.4vw;
  div {
    width: 100px;
    text-align: left;
  }
  div:last-child {
    margin-left: 14px;
  }
  div:first-child {
    margin-right: -10px;
  }
}






.heroContainer {
  width: 100%;
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
  overflow: hidden;
  background-color: #000;
  margin-top: -20px;
}

.heroBanner {
  height: 85vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  z-index: 10;
  padding: 0 13vw;
}

.heroBg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 140%;
  z-index: 1;
  pointer-events: none;
  will-change: transform;
  transform: translate3d(0, 0, 0);

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    margin-top: -60px;
  }
}

.heroText {
  font-family: "Railway-Light";
  font-size: 9.8vw;
  z-index: 19;
  position: relative;
  height: auto;
  text-align: center;
  text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
}

.heroSubText {
  font-family: "Railway-Light";
  font-size: 5.2vw;
  z-index: 10;
  position: relative;
  text-align: center;
  height: auto;
  margin-top: -4px;
  text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
}

@media screen and (min-width: 1000px) {
  
  // TODO - move to new component
  .logoContainer {
    position: relative;
    z-index: 100;
    width: 38px;
    position: absolute;
    top: 75px;
    left: 4.5vw;
  }
  



  .heroText {
    font-size: 4vw;
    z-index: 10;
    width: 100%;
    font-weight: 100;
    padding-top: 2.75rem;
  }

  .heroSubText {
    font-size: 1.8vw;
    line-height: 2.5rem;
    z-index: 10;
    width: 100%;
    letter-spacing: 0.02rem;
  }

  .heroContainer {
    background-attachment: fixed;
    background-position: center center;
  }

  .heroBg {
    img {
      margin-top: 0px;
    }
  }
}
