@import "./mixins";

.office-img-mb {
    background-image: url('../assets/office.jpg');
    width: 100%;
    height: 250px;
    background-position: center;
    background-size: cover;
}

.explore-section-mb {
    background-color: #bc954e;
    color: #fff;
    font-size: 16px;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0.5rem 1.5rem 5rem;
    .explore-content-mb {
        padding: 1rem 0;
    }
}

.quote-card-mb {
    background: #fff0d4;
    border-radius: 5px;
    box-shadow: 0 7px 16px -2px #00000014;
    color: #8a6a47;
    margin-top: -70px;
    position: relative;
    width: 90vw;
    z-index: 100;
    font-family: "IBMPlexSerif-Italic";
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.04rem;
    
    h4 {
        padding: 8px 32px 0;
        text-align: left;
        font-family: "IBMPlexSerif-Italic";
        font-style: italic;
        font-size: 18px;
        font-weight: 400;
        letter-spacing: 0.04rem;
    }
    p {
        text-align: right;
        margin: -15px 30px 0 0;
        padding-bottom: 25px;
    }

}

// Desktop styles

.quote-line {
    width: 100%;
    max-width: 175px;
    min-width: 80px;
    border-top: 1px solid rgba(255,255,255,0.65);
    margin-top: -2rem;
}

.quote-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1.5rem 0 .5rem;
}

.explore-section {
    background-color: #bc954e;
    color: #fff;
    font-size: 16px;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    @include desktopContentPadding;
    padding-bottom: 3rem;

        .explore-content {
            padding: 1rem 4rem 1rem 0;
            width: 80%;
        }
        .quote {
            width: 52vh;
            font-family: "IBMPlexSerif-Italic";
            font-size: 18px;
            font-weight: 400;
            letter-spacing: 0.04rem;
            text-align: left;
            padding: 2rem 0 0;
            p {
                text-align: center;
            } 
    }
    .content-img-container {
        display: flex;
        align-items: center;
        justify-content: center;
        .office-img {
            background-image: url('../assets/office.jpg');
            width: 70%;
            height: 280px;
            background-position: center;
            background-size: cover;
            margin-top: 1rem;
            clip-path: polygon(
                0 0,           /* Top-left corner */
                100% 0,        /* Top-right corner */
                100% 100%,     /* Bottom-right corner */
                var(--bevel-size, 40px) 100%, /* Start of the bevel */
                0 calc(100% - var(--bevel-size, 40px))  /* End of the bevel */
              )
        }
    }
    
}