@import "./mixins";

.services-line {
    width: 70%;
    @include lineBase;
}

.services-container {
    min-height: 60vh;
    background-image: url('../assets/services.jpg');
    width: auto;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 1rem;
}

.services-content {
    margin: 50px 0;
}

.service {
    padding: 1rem 0;
    color: #fff;
}

.service-title {
    font-family: JosefinSans-Light;
    font-size: 30px;
    padding-bottom: 2rem
}

.service-desc {
    border-left: 1px solid rgba(255,255,255,.7);
    padding: .5rem 0 .5rem 1rem;
}

@media screen and (min-width: 1000px) {
    .service-desc {
        padding: .5rem 0 .5rem 3rem;
    }
    
    .services-container {
        @include desktopContentPadding;
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
}