@import "./mixins.module";

.servicesLine {
  width: 70%;
  @include lineBase;
}

.treatmentContainer {
  min-height: 50vh;
  background-image: url('../assets/treatmentBgMb.jpg');
  width: auto;
  background-position: right;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8rem 1.5rem 4rem;
  @include mobileContentPadding;
}

.servicesContent {
  margin: 22px 0 32px;
}

.service {
  padding: 1rem 0;
  color: #fff;
}

.serviceTitle {
  font-family: JosefinSans-Light;
  font-size: 30px;
  padding-bottom: 2rem;
}

.serviceDesc {
  border-left: 1px solid rgba(255, 255, 255, 0.7);
  padding: 0.5rem 0 0.5rem 1rem;
}

@media screen and (min-width: 1000px) {
  .serviceDesc {
    padding: 0.5rem 0 0.5rem 3rem;
  }

  .treatmentContainer {
    @include desktopContentPadding;
    background-image: url('../assets/treatmentBg.jpg');
    padding-top: 4rem;
    padding-bottom: 0rem;
    background-color: rgb(100, 100, 135)
  }
}
