@import "./mixins.module";

.treatmentsLine {
  width: 70%;
  @include lineBase;
}

.treatmentContainer {
  min-height: 50vh;
  background-image: url('../assets/treatmentBgMb.jpg');
  width: auto;
  background-position: right;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 1.5rem 4rem;
  @include mobileContentPadding;
}

.treatmentsContent {
  margin: 22px 0 32px;
}

.treatment {
    color: #fff;
    background-color: hsl(90deg 2% 50% / 62%);
    margin-bottom: 2rem;
    padding: 1.25rem;
}

.treatmentTitle {
  font-family: JosefinSans-Light;
  font-size: 30px;
  padding-bottom: 1rem;
}

.treatmentDesc {
  padding: 0 0 1rem;
}

@media screen and (min-width: 1000px) {
  .treatmentDesc {
    padding: 0.5rem 0 0.5rem 3rem;
  }

  .treatmentContainer {
    @include desktopContentPadding;
    background-image: url('../assets/treatmentBg.jpg');
    background-position: left;
    background-size: cover;
    padding-top: 4rem;
    padding-bottom: 0rem;
    background-color: rgb(100, 100, 135)
  }

  .treatmentsContent {
    display: flex;
    flex-wrap: wrap;
  }

  .treatment {
    color: #fff;
    background-color: hsla(90, 2%, 50%, 0.62);
    padding: 1.25rem;
    width: 25.5vw;
    margin: 1rem;
  }

  .treatmentDesc {
    padding: 0;
  }

}
